<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>thymeleaf-fragment.js demo</title>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js" th:if="false"></script>
		<script src="../thymeleaf-fragment.js" defer="defer" th:if="false"></script>
	</head>
	<body>
		<h1>thymeleaf-fragment.js demo</h1>
		<h2>th:include</h2>
		<div th:include="fragments::hello"></div>
		<h2>th:insert</h2>
		<div th:insert="fragments::hello"></div>
		<h2>th:replace</h2>
		<div th:replace="fragments::hello"></div>
	</body>
</html>
